/* For Tooltip */

.tooltip {
  position: absolute;
  padding: 7px;
  font-size: 12px;
  font-family: 'Open Sans' sans-serif;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0;

  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.tooltip table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}



/* For Bar Chart */

rect:hover{
  fill: #FFFF00;
  transition: 0.5s all ease-in;
}
